<%- include('partials/header',{id:id}); %>
<div class="container" id="landing">
    <h1>Vocab-Build-2</h1>
    <div id="btns">
        <a href="/register" id="btn" class="btn btn-lg btn-light">Register</a>
        <a href="/login" id="btn" class="btn btn-lg btn-light">Sign In</a>
    </div>
</div>


<%- include('partials/footer'); %>