#home {
    width : 100%;
    border: 3px solid #696969;
    padding : 50px 35%;
    margin : 10px;
    border-radius: 20px;
}

@media (max-width:600px) {
    #home {
        margin : 10px auto;
    }
}