#home {
    width : 100%;
    border: 3px solid #696969;
    padding : 50px 35%;
    margin : 10px;
    border-radius: 20px;
    background-color: white;
}
body{
    background-color: #fec5e5;
}
#template {
    border : 2px solid #666999;
    width : 100%;
    text-align: center;
    border-radius: 20px;
    padding : 10px;
    margin : 10px;
    font-weight: 700;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin : 15% auto;
}

@media (max-width:600px) {
    #home {
        margin : 10px auto;
    }
    #landing {
        margin : 50% auto;
    }
}

