#setName {
    width : 300px;
    border : 3px solid #666999;
    padding : 20px 20px 20px 20px;
    margin : 10px 10px;
    font-weight: 600;
    font-size: larger;
    background-color: white;
}

#icon {
    border : 2px solid #666999;
    width : 100%;
    text-align: center;
    border-radius: 20px;
    padding : 10px;
    margin : 10px;
}

.modal-header{
    background-color: rgb(236, 183, 224);
}
.modal-body {
    background-color: rgb(238, 213, 232);
}
#myModal ,#anotherModal {
    top : 10%;
}

#words {
    height : 28rem;
    margin : 10px;
    padding : 20px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: transform .4s ease-in;
} 

#leftArrow {
    width : 40px;
    height : 40px;
    left : 5rem;
    top : 15rem;
    z-index: 1;
    position : fixed;
}
#rightArrow {
    width : 40px;
    height : 40px;
    right : 5rem;
    top : 15rem;
    z-index: 1;
    position : absolute;
}

img {
    width : 100%;
    height : 100%;
}

#scene{
    height : 20rem;
    width : 35rem;
    perspective : 1000px;
    border-radius: 20px;
    border : 3px solid #669999;
    margin : 5rem auto;
}

#card {
    width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

#scene:hover #card{
    transform: rotateY(180deg);
}

#word-front , #word-back {
    height : 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    font-size: larger;
    -webkit-backface-visibility: hidden; /* Safari */
     backface-visibility: hidden;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#word-back {
  transform: rotateY( 180deg )
}
#word-front {
    font-size: xx-large;
}

@media (max-width:800px) {
    #scene {
        width : 20rem;
        height : 23rem;
        margin : 5rem auto;
    }
    #word-back{
        font-size: large;
    }
} 
#btn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin : 0 5px;
}
#btns {
    display: flex;
    margin : 10px auto;
}

@media (max-width:600px) {
    #setName {
        margin : 10px auto;
    }
    #scene {
        width : 20rem;
        height : 23rem;
        margin : 5rem auto;
    }
    #word-back{
        font-size: large;
    }
}