<%- include('../partials/header'); %>

<div class="container">
    <div id="home">
        <a href="/home/new">
            <h1 style="color: black;">New Words</h1>
        </a>
    </div>
    <div id="home">
        <a href="/home/review">
            <h1 style="color: black;">Review Words</h1>
        </a>
     </div>
     <div id="home">
        <a href="/home/mastered">
            <h1 style="color: black;">Mastered Words</h1>
        </a>
     </div>
</div>

<%- include('../partials/footer'); %>